* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  width: 98vw;
}

.main {
  width: inherit;
  height: 100%;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #eee;
  padding-bottom: 7%;
}

.calculator {
  padding-top: 2%;
  padding-right: 10%;
}

.picato {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.result {
  margin-top: 8%;
  width: 100%;
  background: rgb(130, 117, 117);
  text-align: right;
  padding: 5% 2%;
  font-size: 1.6rem;
  color: white;
}

.second {
  display: flex;
}

button {
  font-size: 1.4rem;
}

button:hover {
  background: #eee;
  scale: 1.2;
}

.Digits {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

.digits button {
  padding: 10px 0;
  width: 100px;
  border-radius: 0;
}

.operator {
  display: flex;
  flex-direction: column;
}

.operator button {
  font-size: 1.4rem;
  border-radius: 0;
  padding: 10px 40px;
  background: orangered;
  opacity: 0.8;
}

.last button {
  border-radius: 0;
  width: 100%;
  padding: 12px 0;
}

.equals {
  background: orangered;
  opacity: 0.8;
}

.lastOne {
  display: grid;
  grid-template-columns: 50.5% 25% 24.5%;
}

.lastOne:nth-child(even) {
  background: red;
}

nav {
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: space-around;
}

.title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(68, 47, 174);
  padding: 1% 0;
}

nav a {
  text-decoration: none;
}

.UnList {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5%;
}

.Litem {
  background: rgb(162, 161, 161);
  border-radius: 50%;
  padding: 10px 7%;
  color: blue;
}

.Litem:hover {
  background: rgb(217, 210, 210);
}

.Home {
  margin: 7% 4%;
  font-size: 1.2rem;
}

.Home h2 {
  margin-bottom: 5%;
}

.Quote {
  margin: 20% 5%;
  font-size: 1.2rem;
}
