* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.caculator {
  max-width: 75%;
}

.result {
  width: 100%;
  background: rgb(130, 117, 117);
  text-align: right;
  padding: 5% 2%;
  font-size: 1.6rem;
  color: white;
}

.second {
  display: flex;
}

button {
  font-size: 1.4rem;
}

button:hover {
  background: #eee;
}

.Digits {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

/* .digits {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: dense;
} */

.digits button {
  padding: 20px 0;
  width: 100px;
  border-radius: 0;
}

.operator {
  display: flex;
  flex-direction: column;
}

.operator button {
  font-size: 1.4rem;
  border-radius: 0;
  padding: 20px 40px;
  background: orangered;
  opacity: 0.8;
}

/* .last {
  display: grid;
  grid-template-columns: 54%  auto 23%;
} */

.last button {
  border-radius: 0;
  width: 100%;
  padding: 20px 0;
}

.equals {
  background: orangered;
  opacity: 0.8;
}

.lastOne {
  display: grid;
  grid-template-columns: 50.5% 25% 24.5%;
}

.lastOne:nth-child(even) {
  background: red;
}
